main{
    text-align: center;
}
main img{
    display: block;
    margin: 0 auto;
    border: 4px solid greenyellow;
}
h1:hover{
    color: blue;
}
footer{
    text-align: center;
}
body{
    background-color: beige;
}
nav{
    text-align: end;
}
