
header{
    display: grid;
    grid-template-columns: 70px auto;
    background-color: whitesmoke;    
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    background-color: transparent;
    color: black;
    text-decoration: none ;
    padding: 5px;
    display: block;
}
nav a:hover{
    background-color: transparent;
    color: blue;
}
.logo{
    width: 150px;
    border: 2px solid red;
    border-radius: 50%;
    z-index: 9999;
}
.pictures2 {
    background-color: aliceblue;
    width: 75%;
    margin: 50px auto;
    color: blue;
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 80px 100px 200px 60px;
    grid-template-columns: repeat(3, 1fr) 100px;
}
.item-1 { background-color: antiquewhite;
grid-column: 1/5;
}
    
.item-2 { background-color: brown;}
.item-3 { background-color: antiquewhite;}
.item-4 { background-color: brown;}
.item-5 { background-color: yellow;
grid-column: 4/5;
grid-row: 2/4;
}
.item-6 { background-color: yellowgreen;
grid-column: 1/4;
grid-row: 3/4;
}
.item-7 {background-color: red;
grid-column: 1/5;}


footer{
    background-color: gainsboro;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    background-color: transparent;
    color: rgb(21, 20, 21);
    text-decoration: underline;
    font-size: .9em;
    font-family: 'Times New Roman', Times, serif
}
footer p:hover{
    background-color: transparent;
    color: blueviolet;
}

    