
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #f7e812;
  --secondary-color: #43e023 ;
  --accent1-color: #e93720;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "Lobster Two";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #282722;  /* headlines on a white background */ 
  --headline-color-on-color: rgb(76, 49, 139); /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: rgb(67, 18, 119); /* paragraph text on a colored background */ 
  --paragraph-background-color: #f2e03e  ;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }
  h2 {
    text-align: center;
  }

header{
    display: grid;
    grid-template-columns: 70px auto;
    background-color: rgba(255, 255, 0, 0.806);    
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    background-color: transparent;
    color: black;
    text-decoration: none ;
    padding: 20px;
    display: block;
}
nav a h1:hover{
    background-color: transparent;
    color: blueviolet;
}
.logo{
    width: 150px;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 9999;
}

.pictures2 {
    background-color: aliceblue;
    width: 95%;
    margin: 50px auto;
    color: blue;
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 170px;
    grid-template-columns: repeat(4, 1fr);
}
.item-1 { 
    background-color: azure;
    border-radius: 10px;
grid-column: 1/5;
}
h1{
    text-align: center;
}
h1:hover{
    color: blueviolet;
}
.pic1{
    border-radius: 10px;
    border: 2px solid red;
}
.pic2{
    border-radius: 10px;
    border: 2px solid red;
}
.pic3{
    border-radius: 10px;
    border: 2px solid red;
} 
.pic4{
    border-radius: 10px;
    border: 2px solid red;
}   



    .video {
        grid-column: 1/5;
        position: relative;
        height: 0;
        width: 100%;
        padding-bottom: 26.25%;
        overflow: hidden;
    }
    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 99%;
        height: 80%;
        border-radius: 40px;
        border: 3px solid red;

    }



footer{
    background-color: gainsboro;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    background-color: transparent;
    color: rgb(21, 20, 21);
    text-decoration: underline;
    font-size: .9em;
    font-family: 'Times New Roman', Times, serif
}
footer p:hover{
    background-color: transparent;
    color: blueviolet;
}

    