main{
    background-color: pink;
}

ol{
    background-color: violet;
    text-align: end;
}
main h1{
    text-align: center;
}
main img{
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}
blockquote{
    text-align: center;
}
ol{
    text-align: center;
}

