main{
    text-align: center;
}
main img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid black;
    
}
h1:hover{
    color: blue;
}
footer{
    text-align: center;
}
body{
    background-color: beige;
}
nav{
    text-align: start;
}
