body{
    height: 50%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
}
.content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    gap: 0px;
    height: 100%;
    width: 100%;
}
.grey-box {
    grid-column: 2;
    grid-row: 1/3;
    background-color: gray;
    height: 100%;
    width: 100%;
}
.cherries{
    grid-column: 1;
    grid-row: 1/3;
    background-image: url(../w6-challange/images/w06_cherries.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-color: white;
    height: 100%;
    width: 100%;
}
.toptext{
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    font-size: 150px;
    font-weight: bold;
    margin-top: 20%;

}
.bottomtext{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: red;
    margin-top: 100%;
}